
<head>
  <title>New User sign in</title>
  <!-- FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
</head>
<div>
<a id="userNew"><img src="https://s3.amazonaws.com/uploads.hipchat.com/140618/1018352/15kY6T6w8miBfii/concert.jpg" ></a>

<div class="userShow">
<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag(@user.photo) %>
</p>


 <%= link_to 'Tickets List', ticket_list_path %>
</div>

