


<!-- ///////////////////// NAVIGATION BAR /////////////////////////////////// -->
<div class="navbar">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Tick.Get</a>
    </div>
  </div>
</nav>
</div>
<!-- ////////////////////// END NAVIGATION BAR //////////////////////////// -->
<!-- /////////////////////// HEADER /////////////////////////////////////// -->

<div class="title">
  Welcome to Tick.Get
</div>
<div class="ticketintro">
Buy, trade, & sell your concert tickets
</div>
<!-- ////////////////////// END HEADER /////////////////////////////////// -->
<!-- //////////////////////////NEW TICKET PATH ////////////////////////////-->
<body>
<br>
<div class="tix">
<% @tickets.each do |t| %>
<%= t.concert_name %>
<%= t.date_time %>
<%= t.venue %>
<%= t.price %>
<%= t.quantity %>
<%= t.trade_value %>

<br>
<!-- ////////////////////// END NEW TICKET PATH //////////////////////////  -->
<!-- //////////////////// PATH BUTTONS //////////////////////////////////// -->
<div class="buttonOne">
 
  <button type="button" class="btn btn-default btn-lg" ><%= link_to 'More Information', t %></button>
  <br>
  <% end %>
</div>

<div class="buttonTwo">

  <button type="button" class="btn btn-default btn-lg"><%= link_to 'Create a New Ticket', new_ticket_path %></button>
</div>
<!-- //////////////////// END PATH BUTTONS //////////////////////////////// -->

</div>
</body>
