
<%= render 'nav' %>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      
      <a class="navbar-brand" href="#">Tick.Get</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <button type="button" class="btn btn-default btn-lg buttonTwo"nav navbar-nav navbar-right""><%= link_to 'Create a New Ticket', new_ticket_path %></button>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- ////////////////////// END NAVIGATION BAR //////////////////////////// -->
<!-- /////////////////////// HEADER /////////////////////////////////////// -->

<div class="title">
  Welcome to Tick.Get
</div>
<div class="ticketintro">
Buy, trade, & sell your concert tickets
</div>
<!-- ////////////////////// END HEADER /////////////////////////////////// -->
<!-- //////////////////////////NEW TICKET PATH ////////////////////////////-->
<body>
<br>

<div class="allTiles">
<% @tickets.each do |t| %>
<div class="ticketTile">
Concert: <%= t.concert_name %><br>
Date & Time: <%= t.date_time %><br>
# of Tickets: <%= t.quantity %><br>
<button type="button" class="btn btn-default btn-lg" ><%= link_to 'More Information', t %></button>
</div>
<% end %>
</div>

<br>


<!-- //////////////////// END PATH BUTTONS //////////////////////////////// -->

</div>
</body>
